.register.container {
  margin-block: var(--xxl);
}

.register__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 0 auto;
  padding: 40px 60px;
  background-color: var(--white);
}

.register__title {
  margin-bottom: 40px;
  font-weight: var(--semi-bold);
  color: var(--regal-blue);
}

.register__login-button {
  padding: 8px 0;
  width: 100%;
  text-align: center;
  color: var(--dark-wood);
  border: 1px solid var(--dark-wood);
  cursor: pointer;
  margin-top: 20px;
}